@font-face {
        font-family: "Whiteboard";
        src: url(/static/IWouldWriteItAll.ttf);
}
html, body, .dashboard-container {
  height: 100%;
  width: 100%;
  color: black;
  border: white solid 0px;
  font-family: "Whiteboard", sans-serif;
}

p, img {
  position: fixed;
}

p.small {
  font-size: 1em;
}

p.medium {
  font-size: 2em;
}

p.large {
  font-size: 3em;
}

img.small {
  max-height: 10%;
  max-width: 10%;
}

img.medium {
  max-height: 25%;
  max-width: 25%;
}

img.large {
  max-height: 50%;
  max-width: 50%;
}

.csh-overlay {
    width:5%;
    bottom:10px;
    right:10px;
}

.logo-overlay {
    width:10%;
    top:10px;
    left:10px;
}
